@using Blazorise
@using System
@using System.Globalization
@using System.Linq
@using ZavrsniRad.RezervacijeTermina.Data.Models
@using ZavrsniRad.RezervacijeTermina.Data.Services
@using Microsoft.AspNetCore.Identity
@using Data.Messaging.ReservationPeriod.Request;

@inject IReservationPeriodService ReservationPeriodService
@inject IJSRuntime JS

<div>
    @*Make Header*@
    <Container Class="containerBorder">
        <Row>
            <Column>
                <Button Color="Color.Primary" Clicked="@WeekBefore">&lt;</Button>
                <Button Color="Color.Primary" Clicked="@WeekAfter">></Button>
            </Column>
            @foreach (var day in DaysOfTheWeek.Select((x, i) => new { Value = x, Index = i }))
            {
                <Column Class="@(FirstDay.AddDays(day.Index).Date == Today.Date ? "todayBolded" : "")">
                    @day.Value
                    @FirstDay.AddDays(day.Index).ToString("dd.MM.yyyy")
                </Column>
            }
        </Row>

        @*Make RestOfThe grid V2*@
        <div id="scrollableCalendarDiv" style="overflow-y: auto; overflow-x: hidden; height: 450px;">
            @foreach (var periodGroup in ThisWeeksPeriods)
            {
                <Row Id="@periodGroup.Key.ToString(@"hh\:mm")">
                    <Column Class="borderedCol">
                        <p>@periodGroup.Key.ToString(@"hh\:mm")</p>
                    </Column>

                    @for (int i = 0; i < 7; i++)
                    {
                        int indexBuffer = i;
                        var resPeriod = GetReservationPeriod(periodGroup, indexBuffer);

                        @if (resPeriod != null)
                        {
                            <Column @onclick="() => OpenPopupForAdministration(resPeriod)" Class="@(resPeriod.ReservationMade ? "reserved borderedCol" : "available borderedCol")">
                                <p></p>
                            </Column>
                        }
                        else
                        {
                            @if (IsOwner)
                            {
                                <Column Class="cellDisabled borderedCol" @onclick="() => OpenPopupForNewPeriod(periodGroup.Key, indexBuffer)">
                                </Column>
                            }
                            else
                            {
                                <Column Class="cellDisabled borderedCol">
                                </Column>
                            }
                        }
                    }
                </Row>
            }
        </div>
    </Container>
</div>

<Modal @ref="editModalRef">

    @if (ModalEditPeriod != null)
    {
        @if (IsOwner)
        {
            <ModalContent Centered="true">
                <ModalHeader>
                    <ModalTitle>Uređivanje termina</ModalTitle>
                    <CloseButton />
                </ModalHeader>

                <ModalBody>

                    <Field>
                        <FieldLabel>@ModalEditPeriod.From.Date.ToString("dd.MM.yyyy")</FieldLabel>
                        <FieldLabel>Od @ModalEditPeriod.From.ToString(@"HH\:mm") - Do @ModalEditPeriod.To.ToString(@"HH\:mm")</FieldLabel>
                    </Field>

                    @if (ModalEditPeriod.ReservationMade == false)
                    {
                        <Field>
                            <FieldLabel>Tip termina</FieldLabel>
                            <Select TValue="int" SelectedValue="@((int)ModalEditPeriod.ReservationPeriodType)" SelectedValueChanged="@OnSelectedValueChangedReservationPeriodType">
                                <SelectItem Value="@((int)ReservationPeriodType.Closed)">Zatvoreno</SelectItem>
                                <SelectItem Value="@((int)ReservationPeriodType.Reserved)">Rezerviran termin (Bez informacije kojem korisniku)</SelectItem>
                                <SelectItem Value="@((int)ReservationPeriodType.Free)">Slobodan termin</SelectItem>
                            </Select>
                        </Field>
                    }
                    else
                    {
                        <Field>
                            <FieldLabel>Termin rezerviran od strane korisnika @ModalEditPeriod.User.UserName dana @ModalEditPeriod.ReservationMadeAt.Value.ToString("dd.MM.yyyy HH:mm")</FieldLabel>
                        </Field>

                        if (ModalEditPeriod.IsConfirmed == false)
                        {
                            <Field>
                                Potrebno je potvrditi ili odbiti rezervaciju.

                                <Switch TValue="bool" Checked="@ModalEditPeriod.IsConfirmed" CheckedChanged="@OnIsConfirmedChanged">Rezervacija potvrđena</Switch>
                            </Field>
                        }
                        else
                        {
                            <Field>Rezervacija već potvrđena</Field>
                        }
                    }
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="@HideEditModal">Zatvori</Button>
                    @if (ModalEditPeriod.ReservationMade == false)
                    {
                        <Button Color="Color.Primary" Clicked="@UpdateReservation">Spremi promjene</Button>
                    }
                    else if (ModalEditPeriod.ReservationMade && ModalEditPeriod.IsConfirmed == false)
                    {
                        <Button Color="Color.Primary" Clicked="@ConfirmReservation">Potvrdi/odbij rezervaciju</Button>

                    }
                </ModalFooter>
            </ModalContent>
        }
        else
        {
            <ModalContent Centered="true">
                <ModalHeader>
                    <ModalTitle>Uređivanje termina</ModalTitle>
                    <CloseButton />
                </ModalHeader>
                @if (ModalEditPeriod != null)
                {
                    <ModalBody>

                        <Field>
                            <FieldLabel>@ModalEditPeriod.From.Date.ToString("dd.MM.yyyy")</FieldLabel>
                            <FieldLabel>Od @ModalEditPeriod.From.ToString(@"HH\:mm") - Do @ModalEditPeriod.To.ToString(@"HH\:mm")</FieldLabel>
                        </Field>

                        @if (ModalEditPeriod.ReservationMade && ModalEditPeriod.IsConfirmed)
                        {
                            @if (ModalEditPeriod?.User != null)
                            {
                                <Field>
                                    <FieldLabel>Termin rezerviran od strane korisnika @ModalEditPeriod.User.UserName</FieldLabel>
                                    <FieldLabel>Termin potvrđen!</FieldLabel>
                                </Field>
                            }
                        }
                        else if (ModalEditPeriod.ReservationMade && ModalEditPeriod.IsConfirmed == false)
                        {
                            <FieldLabel>Termin rezerviran od strane korisnika @ModalEditPeriod.User.UserName</FieldLabel>
                            <FieldLabel>Vlasnik još nije potvrdio/otkazao rezervaciju.</FieldLabel>

                        }
                        else
                        {
                            <Field>
                                Želite li rezervirati odabrani termin?
                            </Field>

                            <Field>
                                @if (ReservationEvent.IsReservationConfirmationNeeded)
                                {
                                    <Field>Termin je valjan tek nakon što ga vlasnik potvrdi. Provjerite stranicu i email nešto kasnije.</Field>
                                }
                                else
                                {
                                    <Field>Termin se smatra valjanim od strane vlasnika u trenutka kada ga potvrdite!</Field>
                                }
                            </Field>
                        }
                    </ModalBody>
                }
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="@HideEditModal">Zatvori</Button>
                    @if (ModalEditPeriod.ReservationMade == false && ModalEditPeriod.IsConfirmed == false)
                    {
                        <Button Color="Color.Primary" Clicked="@UserMadeReservation">Potvrdi termin</Button>
                    }
                </ModalFooter>
            </ModalContent>
        }

    }
</Modal>

<Modal @ref="createModalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Novi termin</ModalTitle>
            <CloseButton />
        </ModalHeader>
        @if (ModalCreatePeriod != null)
        {
            <ModalBody>
                <Field>
                    <FieldLabel>@ModalCreatePeriod.From.Date.ToString("dd.MM.yyyy")</FieldLabel>
                    <FieldLabel>Od @ModalCreatePeriod.From.ToString(@"HH\:mm") - Do @ModalCreatePeriod.To.ToString(@"HH\:mm")</FieldLabel>
                </Field>

                <Field>
                    <FieldLabel>Tip termina</FieldLabel>
                    <Select TValue="int" SelectedValue="@((int)ModalCreatePeriod.ReservationPeriodType)" SelectedValueChanged="@OnSelectedValueChangedReservationPeriodTypeForCreate">
                        <SelectItem Value="@((int)ReservationPeriodType.Free)">Slobodan termin</SelectItem>
                        @*<SelectItem Value="@((int)ReservationPeriodType.Closed)">Zatvoreno</SelectItem>*@
                        <SelectItem Value="@((int)ReservationPeriodType.Reserved)">Rezerviran termin (Bez informacije kojem korisniku)</SelectItem>
                    </Select>
                </Field>
            </ModalBody>
        }
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideCreateModal">Zatvori</Button>
            <Button Color="Color.Primary" Clicked="@CreateReservation">Kreiraj novi termin</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@if (ShowErrorPopup)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Response</h5>
                    <button type="button" class="close" @onclick="@ClosePopup" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ErrorMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="@ClosePopup" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}

<style>
    .todayBolded {
        /*ADD BORDERS TO TODAY*/
        font-weight: bold
    }

    .maxHeight {
        height: 499px;
        max-height: 500px;
    }

    .cellDisabled {
        background-color: lightgrey;
    }

    .reserved {
        background-color: lightcoral;
    }

    .available {
        background-color: lightgreen;
    }

    .borderedCol {
        border-top: 1px solid grey;
        border-right: 1px solid grey;
    }

        .borderedCol:nth-child(1) {
            border-left: 1px solid grey;
        }

    .containerBorder {
        padding: 5px;
        border: 1px solid grey;
    }
</style>

@code {
    [Parameter]
    public ReservationEvent ReservationEvent { get; set; }
    [Parameter]
    public string UserId { get; set; }
    [Parameter]
    public string UserName { get; set; }
    [Parameter]
    public bool IsOwner { get; set; }

    public bool IsLoading { get; set; }

    private IEnumerable<IGrouping<TimeSpan, ReservationPeriod>> ThisWeeksPeriods { get; set; }

    private Modal editModalRef;
    private ReservationPeriod ModalEditPeriod;

    private Modal createModalRef;
    private ReservationPeriod ModalCreatePeriod;

    private bool ShowErrorPopup;
    private string ErrorMessage;

    private DateTime FirstDay;
    private DateTime Today;
    private List<string> DaysOfTheWeek;
    private List<string> HoursOfTheDay;
    private int numberOfHoursInADay = 24;

    public string FirstCalendarCellLocation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ReservationEvent != null)
        {
            Today = DateTime.Now;
            FirstDay = GetModayAccordingTo(Today);
            DaysOfTheWeek = InitializeDaysOfTheWeek();
            HoursOfTheDay = InitializeHoursOfTheDay();
            ThisWeeksPeriods = GroupThisWeekPeriodsByHour();
            FirstCalendarCellLocation = ThisWeeksPeriods.Where(x => x.Any()).Min(x => x.Key).ToString(@"hh\:mm");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("blazorHelpers.scrollToFragment", FirstCalendarCellLocation);
    }

    #region Initializing data

    private List<string> InitializeDaysOfTheWeek()
    {
        return new List<string>{
            "Ponedjeljak",
            "Utorak",
            "Srijeda",
            "Četvrtak",
            "Petak",
            "Subota",
            "Nedjelja"
          };
    }

    private List<string> InitializeHoursOfTheDay()
    {
        var hours = new List<string>();

        var day = DateTime.Now.Date;

        while (day.Date == DateTime.Now.Date)
        {
            hours.Add(day.ToString("HH:mm"));
            day = day.AddHours(1);
        }

        return hours;
    }
    IEnumerable<IGrouping<TimeSpan, ReservationPeriod>> GroupThisWeekPeriodsByHour()
    {
        var allPeriods = ReservationEvent.ReservationPeriods;

        var groupedPeriods = allPeriods
            .Where(x =>
                x.From.Date >= FirstDay.Date
                && x.From.Date < FirstDay.AddDays(7).Date
                )
            .OrderBy(x => x.From)
            .GroupBy(x => x.From.TimeOfDay)
            .ToList();

        return FillMissingTimeStamps(groupedPeriods);

    }

    IEnumerable<Grouping<TimeSpan, ReservationPeriod>> FillMissingTimeStamps(IEnumerable<IGrouping<TimeSpan, ReservationPeriod>> groupedPeriods)
    {
        var result = new List<Grouping<TimeSpan, ReservationPeriod>>();
        //used only for generating a nice time table;

        var startingTime = DateTime.Now.Date;
        var endTime = DateTime.Now.Date.AddDays(1);
        var stepInMinutes = ReservationEvent.ReservationDurationType == ReservationDurationType.HalfHour ? 30 : 60;

        while (startingTime.Date != endTime.Date)
        {
            var groupFound = groupedPeriods.SingleOrDefault(x => x.Key == startingTime.TimeOfDay);

            if (groupFound == null)
            {
                result.Add(new Grouping<TimeSpan, ReservationPeriod>(startingTime.TimeOfDay, new List<ReservationPeriod>()));
            }
            else
            {
                result.Add(new Grouping<TimeSpan, ReservationPeriod>(groupFound.Key, groupFound));

            }

            startingTime = startingTime.AddMinutes(stepInMinutes);
        }

        return result;
    }

    public class Grouping<TKey, TElement> : List<TElement>, IGrouping<TKey, TElement>
    {
        public Grouping(TKey key) : base() => Key = key;
        public Grouping(TKey key, int capacity) : base(capacity) => Key = key;
        public Grouping(TKey key, IEnumerable<TElement> collection)
            : base(collection) => Key = key;
        public TKey Key { get; }
    }

    private DateTime GetModayAccordingTo(DateTime now)
    {
        int delta = DayOfWeek.Monday - now.DayOfWeek;
        if (delta > 0)
            delta -= 7;
        DateTime monday = now.AddDays(delta);

        return monday;
    }

    #endregion

    #region Calendar Utility

    private void WeekBefore()
    {
        FirstDay = GetModayAccordingTo(FirstDay.AddDays(-7));
        ThisWeeksPeriods = GroupThisWeekPeriodsByHour();
        FirstCalendarCellLocation = ThisWeeksPeriods.Where(x => x.Any()).Min(x => x.Key).ToString(@"hh\:mm");

    }

    private void WeekAfter()
    {
        FirstDay = GetModayAccordingTo(FirstDay.AddDays(7));
        ThisWeeksPeriods = GroupThisWeekPeriodsByHour();
        FirstCalendarCellLocation = ThisWeeksPeriods.Where(x => x.Any()).Min(x => x.Key).ToString(@"hh\:mm");
    }

    private ReservationPeriod GetReservationPeriod(IEnumerable<ReservationPeriod> input, int index)
    {
        return input.ToList().FirstOrDefault(x => GetDaysIndex(x.From) == index);
    }

    private int GetDaysIndex(DateTime day)
    {
        var index = (int)day.DayOfWeek - 1;

        return index < 0 ? 7 : index;
    }

    #endregion

    #region Edit Modal

    private void OpenPopupForAdministration(ReservationPeriod reservationPeriod)
    {
        ModalEditPeriod = reservationPeriod;

        ShowEditModal();
    }

    private void ShowEditModal()
    {
        editModalRef.Show();
    }

    private void HideEditModal()
    {
        editModalRef.Hide();
    }

    void OnSelectedValueChangedReservationPeriodType(int value)
    {
        ModalEditPeriod.SetReservationPeriodType((ReservationPeriodType)value);
    }

    void OnIsConfirmedChanged(bool value)
    {
        ModalEditPeriod.SetIsConfirmed(value);
    }

    async Task UpdateReservation()
    {
        var response = await ReservationPeriodService.UpdateReservationPeriodsAsync
            (
                new UpdateReservationPeriodRequest
                {
                    ReservationPeriod = ModalEditPeriod,
                    UserId = IsOwner ? null : UserId
                }
            );

        if (response.Success)
        {
            HideEditModal();
        }
        else
        {
            ShowPopupWithErrorMessage(response.ErrorMessage);
        }

    }

    async Task ConfirmReservation()
    {
        if (ModalEditPeriod.IsConfirmed == false)
        {
            //cancle reservation
            ModalEditPeriod.ResetUser();
            ModalEditPeriod.SetReservationPeriodType(ReservationPeriodType.Free);
        }

        ModalEditPeriod.SetReservationPeriodType(ReservationPeriodType.Reserved);

        var response = await ReservationPeriodService.UpdateReservationPeriodsAsync
        (
            new UpdateReservationPeriodRequest
            {
                ReservationPeriod = ModalEditPeriod,
                UserId = IsOwner ? null : UserId
            }
        );

        if (response.Success)
        {
            HideEditModal();
        }
        else
        {
            ShowPopupWithErrorMessage(response.ErrorMessage);
        }

    }

    async Task UserMadeReservation()
    {
        ModalEditPeriod.SetIsConfirmed(ReservationEvent.IsReservationConfirmationNeeded ? false : true);
        ModalEditPeriod.SetReservationMade(true);

        var response = await ReservationPeriodService.UpdateReservationPeriodsAsync
        (
            new UpdateReservationPeriodRequest
            {
                ReservationPeriod = ModalEditPeriod,
                UserId = UserId
            }
        );

        if (response.Success)
        {
            HideEditModal();
        }
        else
        {
            ShowPopupWithErrorMessage(response.ErrorMessage);
        }

    }

    #endregion

    #region Create Modal

    void OpenPopupForNewPeriod(TimeSpan time, int dayOfWeek)
    {
        var date = FirstDay.AddDays(dayOfWeek);
        var dateTime = new DateTime(date.Year, date.Month, date.Day, time.Hours, time.Minutes, time.Seconds);
        var stepInMinutes = ReservationEvent.ReservationDurationType == ReservationDurationType.HalfHour ? 30 : 60;

        ModalCreatePeriod = new ReservationPeriod
            (
            dateTime,
            dateTime.AddMinutes(stepInMinutes),
            ReservationPeriodType.Closed,
            null,
            ReservationEvent.Id
            );

        ShowCreateModal();
    }

    private void ShowCreateModal()
    {
        createModalRef.Show();
    }

    private void HideCreateModal()
    {
        createModalRef.Hide();
    }

    async Task CreateReservation()
    {
        var response = await ReservationPeriodService.CreateReservationPeriodsAsync
            (
                new CreateReservationPeriodRequest
                {
                    ReservationPeriod = ModalCreatePeriod,
                    UserId = IsOwner ? null : UserId
                }
            );

        if (response.Success)
        {
            HideCreateModal();
        }
        else
        {
            ShowPopupWithErrorMessage(response.ErrorMessage);
        }

    }

    void OnSelectedValueChangedReservationPeriodTypeForCreate(int value)
    {
        ModalCreatePeriod.SetReservationPeriodType((ReservationPeriodType)value);
    }

    #endregion

    #region Error Popup

    void ShowPopupWithErrorMessage(string message)
    {
        ErrorMessage = message;
        ShowErrorPopup = true;
    }

    void ClosePopup()
    {
        ShowErrorPopup = false;
    }

    #endregion

}